:root {
	--chview-bkgrnd: #36393F;
	--chview-bkgrn2: #40444B;
	--chview-frgrnd: #DCDDDE;
	--chview-shadow: #2C2F32;

	font-size: 10px;
	font-family: Arial;
}

#chview {
	background-color: var(--chview-bkgrnd);
	color: var(--chview-frgrnd);
	position: fixed;

	top: 3.2em;
	bottom: 7.2em;
	left: 0;
	right: 0;
	overflow-y: scroll;
}

#chview header, #chview footer, #chview #writer {
	background-color: var(--chview-bkgrnd);
	font-weight: bold;
	padding: 0 1em;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 10;
}

#chview header {
	font-size: 1.6em;
	top: 0;
	height: 2em;
	line-height: 2em;
	border-bottom: solid 1px var(--chview-shadow);
}

#chview header #status {
	display: inline-block;
	height: 0.5em;
	width: 0.5em;
	background-color: #ED4245;
	border-radius: 50%;
}

#chview footer {
	font-size: 1.2em;
	bottom: 0;
	height: 2.5em;
	line-height: 2.5em;
	border-top: solid 1px var(--chview-shadow);
}

#chview #writer {
	bottom: 3.1em;
	height: 4.2em;
	border-top: solid 1px var(--chview-shadow);
}

#chview #writer textarea {
	background-color: var(--chview-bkgrn2);
	color: var(--chview-frgrnd);
	border-radius: 0.6em;
	display: inline-block;
	position: absolute;
	width: calc(100% - 1em);
	left: 0.5em;
	border: none;
	padding: 0;
	top: .5em;
	height: 2em;
	line-height: 1.5em;
	box-sizing: border-box;
	resize: none;
}

#chview .message {
	background-repeat: no-repeat;
	background-position: .4em .4em;
	background-size: 2.4em 2.4em;
	padding-left: 3.2em;
	min-height: 3.2em;
	z-index: 5;
	padding-bottom: 1em;
}

#chview b {
	font-size: 1.1em;
	display: block;
}
