:root {
	--chlist-bkgrnd: #2F3136;
	--chlist-bkgrn2: #393C42;
	--chlist-frgrnd: #DCDDDE;
	--chlist-shadow: #2C2F32;
}

@keyframes appear {
	0% { left: -100%; right:   0%; }
	100% { left:  0%; right: 100%; }
}

#chlist {
	background-color: var(--chlist-bkgrnd);
	color: var(--chlist-frgrnd);
	position: fixed;
	top: 0;
	bottom: 0;
	left: -100%;
	right: 0;
	z-index: 25;
	list-style: none;
}

.chlist #chlist {
	left: 0;
	right: 0;
	animation: 0.6s appear;
}

#chlist a {
	color: inherit;
	display: list-item;
	margin: 0;
	padding: 0.2em;
	font-size: 2em;
	border-radius: 0.5em;
	text-decoration: none;
}

#chlist a:focus {
	background-color: var(--chlist-bkgrn2);
}
